<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>mvue</title>
</head>

<body>
	<div id="app">
		<input type="text" v-model="myObj.name">
		<input type="text" v-model="age">
		<h3>{{myObj.name}} </h3>
		<h3>{{age}}</h3>
	</div>

	<script src="./js/observer.js"></script>
	<script src="./js/watcher.js"></script>
	<script src="./js/compile.js"></script>
	<script src="./js/index.js"></script>
	<script>
		const vm = new Mvue({
			el: '#app',
			data: {
				myObj: {
					name: 'xyz'
				},
				age: 18
			}
		})
	</script>

</body>

</html>





